li,
a,
button {
  font-family: "Avenir", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(148, 159, 170);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10%;
}

.logo-blue {
  cursor: pointer;
  margin-right: auto;
  width: 100px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav-links li a:hover {
  color: rgb(42, 42, 85);
}

button {
  padding: 9px 25px;
  background-color: #294464;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(0.9, 136, 169, 1);
}

.row-1 {
  margin: 30px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-section {
  position: relative;
}

.hero-image {
  filter: brightness(70%);
  opacity: 0.9;
  margin-top: -60px;
  margin-bottom: -30px;
  width: 100%;
}

.hero-text {
  position: absolute;
  left: 5%;
  top: 5%;
  bottom: 5%;
  margin-right: 50%;
}

.hero-text h1 {
  color: white;
  font-size: 3rem;
  font-weight: 300;
}

.hero-text p {
  font-family: Avenir;
  color: white;
  line-height: 1.75rem;
  letter-spacing: 0.01rem;
}

.get-started button {
  margin: 0;
  margin-top: 20px;
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 1.25rem;
}

.row-2 {
  background-color: #fafafa;
  margin: 5px 5%;
  padding: 10px;
}

.column-full {
  text-align: center;
}

.column-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
