h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: red;
}

p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: green;
  line-height: 2rem;
}
